
body{
 font-family: Arial;
 margin:0;
 padding:0;
}
.header{
 background:#ff7020;
 padding:15px;
 display:flex;
 gap:15px;
 align-items:center;
}
.button-auth{
 padding:6px 12px;
 cursor:pointer;
}
.user-name{
 display:none;
 font-weight:bold;
}
.modal-auth{
 display:none;
 position:fixed;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 background:#fff;
 padding:20px;
 border:1px solid #ccc;
}
.modal-auth.active{
 display:block;
}
